<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理后台</title>
</head>
<body>
这里是用户管理<br>
<form action="/admin/user/delete" method="post">
    <% for(let i in data) {%>
    id: <%=data[i].id%>
    用户名： <%=data[i].username%>
    是否管理员：<%=data[i].admin?"是":"否"%>
    操作：<a href="javascript:void(0);" data-userid='<%=data[i].id%>' class='delete'>删除</a>
          <a href="/admin/user/updateuser?id=<%=data[i].id%>" data-userid='<%=data[i].id%>'>修改</a>
    <br/>
    <%}%>
    <input type="submit" />
</form>
<script src="/js/jquery.min.js"></script>
<script>
$(function(){
    $('.delete').bind("click.del",function(){
        let userid = parseInt($(this).data('userid'));
        if(window.confirm('确定要删除么？')){
            $.ajax({
                url: '/admin/user/delete',
                type: 'post',
                data: {
                    userid: userid
                },
                success: function(){
                    alert('删除成功！');
                    window.location.href=window.location.href;
                }
            });
        }
    });

});
</script>
</body>
</html>