<% include header.ejs %>
<script>
    loadStaticFile(['/css/article-detail.css','/js/plugin/highlight/styles/default.css']);
</script>
<main>
    <div class="main-wrap layer-wz clearfix">
        <div class="layer-left-wz">
            <ul class="article-nav">
                <li><a href="/">首页</a>&gt;</li>
                <li><a href="/type/<%=data[0].type_id%>" title="文章所属大分类"><%=data[0].typename%></a>&gt;</li>
            </ul>
            <article>
                <div class="article-detail-wrap">
                    <header>
                        <h1 class="js_article_title article-title"><%=data[0]['title']%></h1>
                        <p class="article-time-view">发布时间:<time><%=locals.dateFormat(data[0].time,'YYYY-MM-DD HH:mm:ss')%></time> <%= data[0].views %>次浏览</p>
                    </header>
                    <!--文章详情begin-->
                    <div class="article-detail-content clearfix js_article_content">
                        <%-data[0]['content']%>
                    </div>
                    <!--文章详情end-->
                    <!--百度分享begin-->
                    <div class="share">
                        <div class="article-detail-footer">

                        </div>
                    </div>
                    <!--百度分享end-->
                    <!--文章相关标签 begin-->
                    <div class="relation-wrap">
                        <div class="relation-tags">
                            <i class="icon-tag" title="标签图标"></i>标签:
                            <%
                                var i = 0,
                                    length = tags.length;
                                    for(;i < length; i++){
                            %>
                                    <a href="/tag/<%=tags[i].tag_id%>"><%=tags[i].tagname%></a>
                            <%}%>
                        </div>
                        <div class="other-article-wrap">
                            <ul>
                                <li>
                                    <span class="prev-article">上一篇：</span>
                                    <%if(sibling.last!=null){%>
                                        <a href="/article-detail/<%= sibling.last.id %>.html"><%= sibling.last.title %></a>
                                    <%} else {%>
                                        <span>没有了</span>
                                    <%}%>
                                </li>
                                <li>
                                    <span>下一篇：</span>
                                    <%if(sibling.next!=null){%>
                                    <a href="/article-detail/<%=sibling.next.id%>.html"> <%= sibling.next.title %></a>
                                    <%} else {%>
                                    <span href="javascript:void(0);">没有了</span>
                                    <%}%>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--文章相关标签 end-->
                    <!--相关文章 begin-->
                    <div class="related-article"></div>
                    <!--相关文章 end-->
                    <!--评论部分 begin-->
                    <div class="comments-wrap" id="commentsArea">
                        <div class="comments-head clearfix">
                            <a href="/" class="comments-number">
                                <span class="highlight">6</span>条评论
                            </a>
                            <div class="comments-sort">
                                <a href="/" class="current">最新</a>
                                <a href="/">最早</a>
                                <a href="/">最热</a>
                            </div>
                        </div>
                        <ul class="comments-all">

                            <%var m=0,
                                  length = commentsReply.length;
                                for(;m < length; m++){
                            %>
                            <li <%if(m === 0){%>id="commentfirst" data-id="<%=commentsReply[m].commid%>"<%} else {%> id="<%=commentsReply[m].commid%>" <%}%>>
                                <!--展示评论 begin-->
                                <div class="comments">
                                    <div class="user">
                                        <a href="javascript:void(0);">
                                            <img src="/image/user.jpg" />
                                        </a>
                                    </div>
                                    <div class="comment-body js_comment_body">
                                        <div class="comment-name">
                                            <a href="javascript:void(0);">
                                                <%=commentsReply[m].username%>
                                            </a>
                                        </div>
                                        <p class="comment-content">
                                            <%=commentsReply[m].content%>
                                        </p>
                                        <div class="comment-footer">
                                            <time><%=locals.dateFormat(commentsReply[m].comm_time,'YYYY-MM-DD HH:mm:ss')%></time>
                                            <a href="javascript:void(0);" data-flag="1" class="js_reply" data-replytype="4" data-replyid="<%=commentsReply[m].commid%>" data-replyuser="<%=commentsReply[m].from_uid%>" data-dicid="<%=commentsReply[m].dicid%>" >
                                                <i title="回复图标" class="iconfont icon-huifu"></i>回复
                                            </a>
                                        </div>
                                    </div>
                                </div>
                               <!--展示评论 end-->
                                <%
                               loop(commentsReply[m].replys);
                               function loop(replys){

                                if(!replys||replys.length < 1){return;}
                               if(replys.length > 0){
                               for(var k = 0; k < replys.length;k++){
                                   var reply =replys[k];
                                    console.log("当前对象：");
                                    console.log(reply);
                                    if(reply.hasOwnProperty('rpid')){
                                %>
                                   <ul class="comment-childs">
                                                <li id="<%=reply.rpid%>">
                                                    <div class="comments">
                                                        <div class="user">
                                                            <a href="javascript:void(0);">
                                                                <img src="/image/user.jpg" />
                                                            </a>
                                                        </div>
                                                        <div class="comment-body js_comment_body">
                                                            <div class="comment-name">
                                                                <a href="javascript:void(0);">
                                                                    <%=reply.from_username%> <span class="reply_text">回复</span> <%=reply.to_username%>
                                                                </a>
                                                            </div>
                                                            <p class="comment-content">
                                                                <%=reply.reply_content%>
                                                            </p>
                                                            <div class="comment-footer">
                                                                <time><%=locals.dateFormat(replys[k].reply_time,'YYYY-MM-DD HH:mm:ss')%></time>
                                                                <a href="javascript:void(0);" class="js_reply" data-flag="1" data-replytype="5" data-commid="<%=reply.comment_id%>" data-replyid="<%=reply.rpid%>" data-replyuser="<%=reply.rp_from_uid%>" data-dicid="<%=reply.dicid%>">
                                                                    <i title="回复图标" class="iconfont icon-huifu"></i>回复
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>

                                   <%}%>
                                    <%
                                        if(reply.replys){
                                            loop(reply.replys);
                                        }
                                    %>
                                 <% }%>

                               <%}%>
                                <%}%>
                                    <!--表示针对评论的回复-->

                                <!--回复部分-->

                            </li>
                           <%}%>
                        </ul>
                        <div  class="comments-pages-wrap clearfix">
                            <ul>
                                <li><a href="/" class="current-page">1</a></li>
                                <li><a href="/">2</a></li>
                                <li><a href="/">3</a></li>
                                <li><a href="/">4</a></li>
                                <li><a href="/">5</a></li>
                            </ul>
                        </div>
                    </div>
                    <!--发表评论 begin-->
                    <div class="declare-comment-wrap">
                        <h3>发表评论</h3>
                        <!--action="/comment/<%=data[0]['id']%>.html"-->
                        <form id="commentForm" data-commentid="<%=data[0]['id']%>"  method="post">
                            <p>
                                <textarea autocomplete="off" name="content" tabindex="4" cols="100%" rows="10"></textarea>
                            </p>
                            <p>
                                <input name="submit" value="发表评论" class="declare-btn" type="submit" id="declareComment">
                            </p>
                        </form>
                    </div>
                    <!--发表评论 end-->
                </div>
            </article>
        </div>
        <div class="aside layer-aside-wz">
            <aside>
                <section>
                    <div class="last-article-wrap">
                        <h2>
                            博客最新
                        </h2>
                        <div class="aside-content-wrap">
                            <ul class="number-wrap">
                                <%
                                    var i = 0,
                                        length = lastest.length;
                                    for(;i < length; i++){
                                %>
                                    <li><i class="number"><%=(i+1)%></i><a href="/article-detail/<%=lastest[i].id%>.html"><%=lastest[i].title%></a></li>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="aside-content-wrap">
                        <h2>热点文章</h2>
                        <ul class="number-wrap">
                            <%
                                var j = 0,
                                    length = topsix.length;
                                for(j; j < length; j++) {
                            %>
                            <li>
                                <i class="number ls3"><%= (j + 1) %></i>
                                <a href="/article-detail/<%= topsix[j].id %>.html"><%=topsix[j].title%></a></li>
                            <%}%>
                        </ul>
                    </div>
                </section>
                <section>
                    <div class="hot-article-wrap aside-content-wrap">
                        <h2>热评文章</h2>
                        <ul>
                            <li><i class="icon icon-diy icon-black">1</i><a href="">织梦CMS文章标题显示不全解决方法</a></li>
                            <li><i class="icon icon-diy icon-red">2</i><a href="">织梦CMS文章标题显示不全解决方法</a></li>
                            <li><i class="icon icon-diy icon-green">3</i><a href="">织梦CMS文章标题显示不全解决方法</a></li>
                            <li><i class="icon icon-diy icon-orange">4</i><a href="">织梦CMS文章标题显示不全解决方法</a></li>
                            <li><i class="icon icon-diy icon-blue">5</i><a href="">织梦CMS文章标题显示不全解决方法</a></li>
                            <li><i class="icon icon-diy icon-gray">6</i><a href="">织梦CMS文章标题显示不全解决方法</a></li>
                        </ul>
                    </div>
                </section>
            </aside>
        </div>
    </div>
</main>
<% include footer.ejs %>
<script type="text/javascript" src="/js/plugin/highlight/highlight.pack.js"></script>
<script type="text/template" id="template">
    <div class="declare-comment-wrap js_reply_wrap">
        <h3>发表回复</h3>
        <form>
            <p>
                <textarea name="comment" tabindex="4" cols="100%" rows="10"></textarea>
            </p>
            <p>
                <input name="submit" value="回复" class="declare-btn" type="submit" onsubmit="return false;">
            </p>
        </form>
    </div>
</script>
<script>
    hljs.initHighlightingOnLoad();
    window._bd_share_config={
        "common":{
            "bdSnsKey":{},
            "bdText":"",
            "bdMini":"2",
            "bdPic":"",
            "bdStyle":"0",
            "bdSize":"24"
        },
        "share":{},
        "image":{
            "viewList":["qzone","tsina","tqq","renren","weixin"],
            "viewText":"分享到：",
            "viewSize":"16"
        },
        "selectShare":{
            "bdContainerClass":null,
            "bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]
        }
    };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
    $(init);
    function init(){
        //回复
        $('.js_reply').on('click',function(){
            /*
             获取html模板,根据reply_type是否为4来判断是不是根评论id(comment_id),
             被回复评论的id(reply_id)，回复内容(reply_content)，评论人id(from_uid),
             被评论人id(to_uid),评论主题id(dicid，文章是1)
             */

            /*
             对于根评论来说：
             comment_id 和 reply_id是一样的(所以只需要找到comment_id就行)；
             被评论人id(就是评论表的from_id)
             */
             var $target = $(this),
                 flag = parseInt($target.data('flag'));
            console.log(flag);
            if(flag){
                console.log('显示……');
                //这里是显示回复框
                showReplyArea($target);
            } else {
                console.log('移除……');
                //移除回复框
                revmoeReplyArea($target);
            }
            /*
            *   需求分析：
            *       点击回复/取消回复:
            *           判断是回复(1)、还是取消回复(0)
            *
            *           如果是回复：
            *               显示回复框，将数据绑定到当前的回复框里；显示"取消回复"
            *
            *           如果是取消回复：
               *           直接移除这个框就好了;显示"回复"
            *
            * */
        });

        //发表评论
        $('#declareComment').on('click',function(e){
            var $target = $(this);
             e.preventDefault();
            var $commentForm = $target.closest('form'),
                commentid = $commentForm.data('commentid'),
                content =$commentForm.find('textarea').val();
            handleDeclareComment(commentid,content);
        });


    }

    //临时保存数据到指定的dom对象
    /**
     *
     * @param $target 回复按钮jquery 对象
     * @param $store 存储回复信息的jquery对象
     */
    function saveDataOnDom($target,$store) {

           //回复的是评论还是回复
            rpType = $target.data('replytype'),

            //被回复的评论(回复)id
            rpId = $target.data('replyid'),

            //被回复人id
            rpUserId = $target.data('replyuser'),

            //哪个类型的回复(可能是文章的回复，也可能是说说的回复)
            rpDicId = $target.data('dicid'),

            //根评论的id
            commentId = $target.data('commid')|null;

        //如果回复的是评论
        if(rpType===4){

            commentId = rpId;
        }

        $store.data('reply',{
            commid: commentId,
            rptype: rpType,
            rpid: rpId,
            rpUserId: rpUserId,
            rpDicId: rpDicId,

        });
    }

    //显示评论框
    function showReplyArea($target) {

        var $originReplyDialog = $('#replayDialog');
        var templ = $('#template').html(),
            $templ = $(templ);
        if($originReplyDialog.length > 0){
            $originReplyDialog.remove();
        }
        $target.closest('.js_comment_body').append($templ);
        $templ.find('input[type="submit"]').click(function(e){

            var $target = $(this);
            e.preventDefault();
            handleReplySubmit($target);
        });
        saveDataOnDom($target,$templ);
        $target.text('取消回复').data('flag',0);

    }

    //移除评论框
    function revmoeReplyArea($target) {
        $target.closest('.js_comment_body').find('.js_reply_wrap').remove();
        $target.text('回复').data('flag',1);
    }

    //处理回复的事件
    function handleReplySubmit($target){
         var $replyDialog = $target.closest('.js_reply_wrap'),
             content = $target.closest('form').find('textarea').eq(0).val(),
             replyData = $replyDialog.data('reply'),
             commid = replyData.commid,
             rpid = replyData.rpid,
            touid = replyData.rpUserId,
             rptype = replyData.rptype,
            dicid = replyData.rpDicId;
            console.log('获取当前回复框里面存储的临时数据：');
            console.log(replyData);
         declareReply(commid,rpid,rptype,content,touid,dicid);
    }

    //发表回复的逻辑处理
    function declareReply(commid,rpid,rptype,content,touid,dicid) {

        comm.ajax.commAjax({
            url: '/reply',
            type: 'post',
            data: {
                commid: commid,
                replyid: rpid,
                replytype: rptype,
                content: content,
                touid: touid,
                dicid: dicid
            },
            errorFn: function(error){
                comm.layer.alert('回复失败！');
            },
            successFn: function(data){
                comm.layer.alert(data.data.des,null,function(index){
                    var originUrl = comm.url.getOriginUrl();
                    layer.close(index);
                    var id = $("#commentsArea").find('li').eq(0).data('id');
                    if(rpid === window.parseInt(id)) {
                        rpid = 'commentfirst'
                    }
                    window.location.href = originUrl+'?time='+new Date().getTime()+'#'+rpid;
                });

            }
        });

    }

    //发表评论的逻辑处理
    function handleDeclareComment(commentid,content){
        console.log(commentid,content);
        comm.ajax.commAjax({
            url: '/comment',
            type: 'post',
            data: {
                commentid: commentid,
                content: content
            },
            successFn: function(data){
                if(!comm.judge.isEmptyObject(data)){
                    comm.layer.alert(data.des,null,function(index){
                        layer.close(index);
                        var originUrl = comm.url.getOriginUrl();
                        $('#commentfirst').removeAttr('id');
                        window.location.href = originUrl+'?time='+new Date().getTime()+'#commentfirst';
                    });
                } else {
                    comm.layer.alert('抱歉，返回数据为空！');
                }
            },
            errorFn: function(err){
                     comm.layer.alert(err);
            }
        });
    }

</script>
</body>
</html>