<%include header.ejs%>
<script>
    loadStaticFile('/css/index.css');
</script>
<main>
    <div class="main clearfix">
        <div class="article-list-wrap" id="articles">
            <h2 class="article-recommend h-style">文章<span class="highlight">推荐</span></h2>
            <!--文章列表begin-->
            <%
            var i = 0,
                length = data.length;
            for(;i<length;i++){
            %>
            <section>
                <div class="article js_article" data-articleid ='<%=data[i].id%>'>
                    <h2 class="article-title">
                        <a href="/article-detail/<%=data[i].id%>.html" title="文章标题" class="js_article_title"><%=data[i].title%></a>
                    </h2>
                    <article>
                        <div class="article-summary-wrap">
                            <div class="clearfix">
                                <%if(data[i].img){%>
                                <a href="/article-detail/<%=data[i].id%>.html" class="article-img-wrap">
                                    <img src="<%=data[i].img%>" />
                                </a>
                                <%}%>
                                <p class="article-content">
                                    <%=data[i].summery%>
                                </p>
                            </div>
                            <div class="read-more-wrap">
                                <a href="/article-detail/<%=data[i].id%>.html" class="read-more">阅读全文</a>
                            </div>
                        </div>
                    </article>
                    <footer>
                        <div class="article-footer-wrap">
                        <span>
                            <a href="javascript:void(0);" class="iconfont-wrap">
                                <i title="日期图标" class="iconfont icon-time"></i>
                                <time><%=locals.dateFormat(data[i].time,'YYYY-MM-DD HH:mm:ss')%></time>
                            </a>
                        </span>
                        <span>
                                <a href="javascript:void(0);" class="iconfont-wrap">
                                    <i title="浏览量图标" class="iconfont icon-eye"></i>
                                    浏览<%=data[i].views|0%>次
                                </a>
                        </span>
                        <span>
                                <a href="javascript:void(0);" class="iconfont-wrap js_ding">
                                    <i title="顶一个图标" class="iconfont icon-ding" ></i>
                                    顶(<span class="js_ding_text"><%=data[i].ding|0%></span>)
                                </a>
                        </span>
                        <span>
                                <a href="javascript:void(0);" class="iconfont-wrap js_cai">
                                        <i title="踩一个图标" class="iconfont icon-iconfontcai js_cai"></i>
                                        踩(<span class="js_cai_text"><%=data[i].cai|0%></span>)
                                </a>
                        </span>
                        <span>
                                <a href="/article-detail/<%=data[i].id%>.html#commentsArea" class="iconfont-wrap">
                                    <i title="评论图标" class="iconfont icon-comments"></i>
                                    评论(<%=data[i].comment_count|0%>)
                                </a>
                        </span>
                            <!--分类-->
                            <span class="article-type">
                            分类:[<a href="/type/<%= data[i].typeid %>.html?typename=<%= data[i].typename %>" class=""><%=data[i].typename %></a>]
                        </span>
                            <!--分类-->
                        </div>
                    </footer>
                </div>
            </section>
            <%}%>
            <!--文章列表end-->
            <div class="article-footer">
                <div class="pages clearfix">
                    <ul class="page-wrap">
                        <%
                            //每页显示几条数据
                            var  showPageNum = parseInt(pages.showPageNum),
                            //总页数
                            totalPage = Math.ceil(pages.counts[0].articlenum/showPageNum),
                            //当前页
                            currentPage = parseInt(pages.current);
                            if(totalPage > 1) {
                        %>

                        <li class="page">
                            <span><%= currentPage %>/<%= totalPage %></span>
                        </li>

                        <% if(currentPage!== 1){ %>
                            <li class="page">
                                <a href="/list-<%= currentPage - 1 %>.html">
                                    <
                                </a>
                            </li>
                        <% } %>

                        <%
                            for(var i = 0;i < totalPage ;i++){
                            //循环中的当前页码
                            var loopPage = i + 1;
                        %>

                            <li class="page">
                                <a <% if(loopPage === currentPage) { %>
                                        class="active" href="javascript:void(0);"
                                        <% } else { %>
                                        href="/list-<%= loopPage %>.html"
                                        <% } %>
                                >
                                    <%= loopPage %>
                                </a>
                            </li>

                        <%}%>

                        <%if(currentPage !== totalPage){%>

                            <li class="page">
                                <a href="/list-<%= currentPage + 1 %>.html">
                                    >
                                </a>
                            </li>
                            <li class="page">
                                <a href="/list-<%= totalPage %>.html">尾页</a>
                            </li>
                        <%}%>
                        <%}%>
                    </ul>
                </div>
            </div>
        </div>
        <aside>
            <div class="article-relation-wrap">
                <!--文章分类begin-->
                <section>
                    <div class="article-type-wrap marginb" id="articleTypesWrap">
                        <h3 class="h-style title">文章<span class="highlight">分类</span></h3>
                        <ul class="type-wrap clearfix">
                            <%
                                var i = 0,
                                    length = typedata.length;
                                for(;i < length; i ++){
                            %>
                                    <li class="type"><a href="/type/<%= typedata[i].type_id%>.html?typename=<%= typedata[i].typename %>"><%= typedata[i].typename %></a></li>
                            <%}%>
                        </ul>
                        <%if(length > 9){%>
                            <button class="more">更多...</button>
                        <%}%>
                    </div>
                </section>
                <!--文章分类end-->
                <!--标签云begin-->
                <section>
                    <div class="article-tags marginb" id="articleTagWrap">
                        <h3 class="h-style title">标签<span class="highlight">云</span></h3>
                        <%
                            var j = 0,
                                length = tagdata.length;
                            for(; j < length; j++) {
                        %>
                            <a class="tag"  href="/tag/<%= tagdata[j].tag_id %>.html?tagname=<%= tagdata[j].tagname %>"><%= tagdata[j].tagname %></a>
                        <%}%>
                        <%if(length > 16){%>
                            <button href="javascript:void(0);" class="more" id="moreTag">更多...</button>
                        <%}%>
                    </div>
                </section>
                <!--标签云end-->
                <!--热门文章begin-->
                <section>
                    <div class="article-hot article-hot-random marginb border article-aside-signle">
                        <h3 class="h-style">热门<span class="highlight">文章</span></h3>
                        <ul class="hot-wrap hot-random-wrap pl30 pr30">
                            <% for(var i = 0; i < topsix.length; i++){%>
                                <li class="ellipsis">
                                    <i class="icon icon-diy <%if(i ===0 ){%>
                                    icon-black
                                    <%} else if(i ===1 ) {%>
                                       icon-red
                                    <%}else if(i === 2) {%>
                                       icon-green
                                    <%}else if(i === 3) {%>
                                       icon-orange
                                    <%}else if(i === 4) {%>
                                       icon-blue
                                    <%}else if(i === 5) {%>
                                       icon-gray
                                    <%}%>
                                "><%=i + 1%></i>
                                    <a href="/article-detail/<%= topsix[i].id %>.html"><%= topsix[i].title %></a>
                                </li>
                            <%}%>
                        </ul>
                    </div>
                </section>
                <!--热门文章end-->
                <!--随机文章begin-->
                <section>
                    <div class="article-random article-hot-random marginb border article-aside-signle">
                        <h3 class="h-style">随机<span class="highlight">文章</span></h3>
                        <ul class="random-wrap hot-random-wrap pl30 pr30">
                            <% for(var i = 0; i < random.length; i++) {%>
                                <li class="ellipsis">
                                    <i class="icon icon-diy icon-default"><%= i+1 %></i>
                                    <a href="/article-detail/<%= random[i].id %>.html"><%=random[i].title%></a>
                                </li>
                            <%}%>
                        </ul>
                    </div>
                </section>
                <!--随机文章end-->
                <!--文章存档begin-->
                <section>
                    <div class="article-archive marginb border article-aside-signle">
                        <h3 class="h-style">文章<span class="highlight">存档</span></h3>
                        <div class="archive-wrap" id="archiveWrap">
                            <ul class="archive-wrap hot-random-wrap clearfix">
                                <%
                                   var m = 0,
                                        length = monthdata.length;
                                   for(; m < length ; m++) {
                                %>
                                <li class="archive"><a href="/querybymonth/<%=locals.dateFormat(monthdata[m].time,'YYYYMM')%>.html"><%=locals.dateFormat(monthdata[m].time,'YYYY年MM月')%>(<%=monthdata[m].articlenum%>)</a></li>
                                <%}%>
                                <%if(length > 10){%>
                                <button class="more">更多...</button>
                                <%}%>
                            </ul>
                        </div>
                    </div>
                </section>
                <!--文章存档end-->
            </div>
        </aside>
    </div>
</main>
<%include footer.ejs%>
<script type="text/javascript">
    $(init);
    function init() {

        var time = new Date();
        var year=time.getFullYear();

        document.getElementById("siteDate").innerHTML = year;

        function handleClick() {
            var $target = $(this);
            var articleId = $target.closest('.js_article').data('articleid');
            ding($target,articleId);
        }
        $("#articles").on('click','.js_ding',handleClick);
        //顶的业务逻辑
        function ding($self,articleId) {
            comm.ajax.commAjax({
                url: '/ding',
                type: 'post',
                data: {id: articleId},
                errorFn: function(error){
                    comm.layer.msg('顶操作失败！');
                },
                successFn: function(data){
                    if(data.dm){
                        $self.find('.js_ding_text').text(data.dm[0].ding);
                    }
                }
            });

        }
        function handleCaiClick() {
            var $target = $(this);
            var articleId = $target.closest('.js_article').data('articleid');
            cai($target,articleId);
        }
        $("#articles").on('click','.js_cai',handleCaiClick);

        //踩的业务逻辑
        function cai($self,articleId) {
            comm.ajax.commAjax({
                url: '/cai',
                type: 'post',
                data: {id: articleId},
                errorFn: function(error){
                    comm.layer.msg('踩失败！');
                },
                successFn: function(data){
                    $self.find('.js_cai_text').text(data.c[0].cai);
                }
            });
        }

        //初始化显示效果
        /**
         *
         * @param wrapId
         * @param classname: "更多" 的class名字
         * @param maxnum : 最初最多显示几个
         * @returns {boolean}
         */
        function initShow(wrapId, classname, maxnum) {
            //分类默认只显示9个，点击查看更多，显示更多分类
            debugger;
            var $target = $('#' + wrapId),
                $types = $target.find('.' + classname),
                $more = $target.find('.more'),
                $gt = $target.find('.' + classname + ':gt('+(maxnum - 1)+')');
            if($types.length <= maxnum){
                $more.hide();
                return false;
            }

            //大于九个，默认只显示9个
            $gt.hide();
            $more.eq(0).on('click',function(){
                $gt.toggle();
                if($gt.eq(0).is(':hidden')){
                    $more.text('更多...');
                } else {
                    $more.text('收起');
                }
            });
        }
        initShow("articleTypesWrap","type",9);
        initShow("articleTagWrap","tag",16);
        initShow("archiveWrap","archive",16);

    }
    window._bd_share_config={
        "common":{
            "bdSnsKey":{},
            "bdText":"",
            "bdMini":"2",
            "bdPic":"",
            "bdStyle":"0",
            "bdSize":"24"
        },
        "share":{},
        "image":{
            "viewList":["qzone","tsina","tqq","renren","weixin"],
            "viewText":"分享到：",
            "viewSize":"16"
        }
    };
    with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];
</script>
</body>
</html>