<!--引入其他模板页面-->
<% include header.ejs %>
<script>
    loadStaticFile('css/index.css');
</script>
<main>
    <div class="main clearfix">
        <div class="article-list-wrap" id="articles">
            <h2 class="article-recommend h-style">文章<span class="highlight">推荐</span></h2>
            <!--文章列表begin-->
            <%for(var i = 0;i<data.length;i++){%>
            <section>
                <div class="article js_article" data-articleid ='<%=data[i].id%>'>
                    <h2 class="article-title">
                        <a href="/article-detail/<%=data[i].id%>.html" title="文章标题" class="js_article_title"><%=data[i].title%></a>
                    </h2>
                    <article>
                        <div class="article-summary-wrap">
                            <%if(data[i].img){%>
                            <a href="/article-detail/<%=data[i].id%>.html" class="article-img-wrap">
                                <img src="<%=data[i].img%>" />
                            </a>
                            <%}%>
                            <p class="article-content">
                                <%=data[i].summery%>
                            </p>
                            <a href="/article-detail/<%=data[i].id%>.html" class="read-more">阅读全文</a>
                        </div>
                    </article>
                    <footer>
                        <div class="article-footer-wrap">
                        <span>
                            <a href="javascript:void(0);" class="iconfont-wrap">
                                <i title="日期图标" class="iconfont icon-time"></i>
                                <time><%=locals.dateFormat(data[i].time)%></time>
                            </a>
                        </span>
                        <span>
                                <a href="javascript:void(0);" class="iconfont-wrap">
                                    <i title="浏览量图标" class="iconfont icon-eye"></i>
                                    浏览<%=data[i].views|0%>次
                                </a>
                        </span>
                        <span>
                                <a href="javascript:void(0);" class="iconfont-wrap js_ding">
                                    <i title="顶一个图标" class="iconfont icon-ding" ></i>
                                    顶(<span class="js_ding_text"><%=data[i].ding|0%></span>)
                                </a>
                        </span>
                        <span>
                                <a href="javascript:void(0);" class="iconfont-wrap js_cai">
                                        <i title="踩一个图标" class="iconfont icon-iconfontcai js_cai"></i>
                                        踩(<span class="js_cai_text"><%=data[i].cai|0%></span>)
                                </a>
                        </span>
                        <span>
                                <a href="javascript:void(0);" class="iconfont-wrap">
                                    <i title="评论图标" class="iconfont icon-comments"></i>
                                    评论(88888)
                                </a>
                        </span>
                            <!--分类-->
                            <span class="article-type">
                            标签:[<a href="javascript:void(0);" class=""><%=data[i].tag%></a>]
                        </span>
                            <!--分类-->
                        </div>
                    </footer>
                </div>
            </section>
            <%}%>
            <!--文章列表end-->
            <div class="article-footer">
                <div class="pages clearfix">
                    <ul class="page-wrap">
                        <%
                            //每页显示几条数据
                            var  showPageNum = parseInt(pages.showPageNum),
                            //总页数
                            totalPage = Math.ceil(pages.counts[0].articlenum/10),
                            //当前页
                            currentPage = parseInt(pages.current);
                        %>

                        <li class="page">
                            <span><%= currentPage %>/<%= totalPage %></span>
                        </li>

                        <% if(loopPage!== 1){ %>
                            <li class="page">
                                <a href="/list-<%= currentPage - 1 %>.html">
                                    <
                                </a>
                            </li>
                        <% } %>

                        <%
                            for(var i = 0;i < totalPage ;i++){
                            //循环中的当前页码
                            var loopPage = i + 1;
                        %>

                            <li class="page">
                                <a <% if(loopPage === currentPage) { %>
                                        class="active" href="javascript:void(0);"
                                        <% } else { %>
                                        href="/list-<%= loopPage %>.html"
                                        <% } %>
                                >
                                    <%= loopPage %>
                                </a>
                            </li>

                        <%}%>

                        <%if(currentPage !== totalPage){%>

                            <li class="page">
                                <a href="/list-<%= currentPage + 1 %>.html">
                                    >
                                </a>
                            </li>
                            <li class="page">
                                <a href="/list-<%= totalPage %>.html">尾页</a>
                            </li>
                        <%}%>
                    </ul>
                </div>
            </div>
        </div>
        <aside>
            <div class="article-relation-wrap">
                <!--文章分类begin-->
                <section>
                    <div class="article-type-wrap">
                        <h3 class="h-style title">文章<span class="highlight">分类</span></h3>
                        <ul class="type-wrap clearfix">
                            <li class="type"><a href="javascript:void(0);">html5</a></li>
                            <li class="type"><a href="javascript:void(0);">css3</a></li>
                            <li class="type"><a href="javascript:void(0);">jquery</a></li>
                            <li class="type"><a href="javascript:void(0);">vue</a></li>
                            <li class="type"><a href="javascript:void(0);">gulp</a></li>
                            <li class="type"><a href="javascript:void(0);">javascript</a></li>
                        </ul>
                    </div>
                </section>
                <!--文章分类end-->
                <!--标签云begin-->
                <section>
                    <div class="article-tags">
                        <h3 class="h-style title">标签<span class="highlight">云</span></h3>
                        <a class="tag"  href="javascript:void(0);">前端</a>
                        <a class="tag"  href="javascript:void(0);">seo</a>
                        <a class="tag"  href="javascript:void(0);">博客</a>
                        <a class="tag"  href="javascript:void(0);">jquery</a>
                        <a class="tag"  href="javascript:void(0);">html5</a>
                        <a class="tag"  href="javascript:void(0);">css3</a>
                        <a class="tag"  href="javascript:void(0);">angular</a>
                        <a class="tag"  href="javascript:void(0);">react</a>
                        <a class="tag"  href="javascript:void(0);">vue</a>
                        <a class="tag"  href="javascript:void(0);">网站</a>
                        <a class="tag"  href="javascript:void(0);"> node</a>
                        <a class="tag"  href="javascript:void(0);"> webpack</a>
                        <a class="tag"  href="javascript:void(0);"> github</a>
                        <a href="javascript:void(0);" class="tag" id="moreTag">更多</a>
                    </div>
                </section>
                <!--标签云end-->
                <!--热门文章begin-->
                <section>
                    <div class="article-hot article-hot-random">
                        <h3 class="h-style title">热门<span class="highlight">文章</span></h3>
                        <ul class="hot-wrap hot-random-wrap pl30 pr30">
                            <% for(var i = 0; i < topsix.length; i++){%>
                                <li class="ellipsis">
                                    <i class="icon icon-diy <%if(i ===0 ){%>
                                    icon-black
                                    <%} else if(i ===1 ) {%>
                                       icon-red
                                    <%}else if(i === 2) {%>
                                       icon-green
                                    <%}else if(i === 3) {%>
                                       icon-orange
                                    <%}else if(i === 4) {%>
                                       icon-blue
                                    <%}else if(i === 5) {%>
                                       icon-gray
                                    <%}%>
                                "><%=i + 1%></i>
                                    <a href="/article-detail/<%= topsix[i].id %>.html"><%= topsix[i].title %></a>
                                </li>
                            <%}%>
                        </ul>
                    </div>
                </section>
                <!--热门文章end-->
                <!--随机文章begin-->
                <section>
                    <div class="article-random article-hot-random">
                        <h3 class="h-style title">随机<span class="highlight">文章</span></h3>
                        <ul class="random-wrap hot-random-wrap pl30 pr30">
                            <% for(var i = 0; i < random.length; i++) {%>
                                <li class="ellipsis">
                                    <i class="icon icon-diy icon-default"><%= i+1 %></i>
                                    <a href="/article-detail/<%= random[i].id %>.html"><%=random[i].title%></a>
                                </li>
                            <%}%>
                        </ul>
                    </div>
                </section>
                <!--随机文章end-->
                <!--文章存档begin-->
                <section>
                    <div class="article-archive">
                        <h3 class="h-style title">文章<span class="highlight">存档</span></h3>
                        <div class="pl30 pr30">
                            <ul class="archive-wrap clearfix">
                                <li><a href="">2017年04月</a></li>
                                <li><a href="">2017年03月</a></li>
                                <li><a href="">2017年02月</a></li>
                                <li><a href="">2017年01月</a></li>
                                <li><a href="">2016年12月</a></li>
                                <li><a href="">2016年11月</a></li>
                                <li><a href="">2016年10月</a></li>
                                <li><a href="">2016年09月</a></li>
                                <li><a href="">2016年08月</a></li>
                                <li><a href="">2016年07月</a></li>
                                <li><a href="">2016年06月</a></li>
                                <li><a href="" class="">查看更多</a></li>
                            </ul>
                        </div>
                    </div>
                </section>
                <!--文章存档end-->
            </div>
        </aside>
    </div>
</main>

<% include footer.ejs%>
<script type="text/javascript">
    $(init);
    function init() {
        share(
            {
                common: {
                    bdText : $("#blog").text(),
                    bdDesc : '文章摘要（一般是前250字）',
                    bdUrl : window.location.href.split("?")[0],
                    onBeforeClick: function(cmd, config){
                        alert(config.valueOf());
                        for(let i in config){
                            console.log(i,config[i]);
                        }
                        //config.bdText= $('.js_article_title').text();
                        return config;
                    }
                },
                share: [{
                    "bdSize" : 24
                }]
            }
        );
        var time = new Date();
        var year=time.getFullYear();

        document.getElementById("siteDate").innerHTML = year;

        function handleClick() {
            var $target = $(this);
            var articleId = $target.closest('.js_article').data('articleid');
            ding($target,articleId);
        }
        $("#articles").on('click','.js_ding',handleClick);
        //顶的业务逻辑
        function ding($self,articleId) {
            comm.ajax.commAjax({
                url: '/ding',
                type: 'post',
                data: {id: articleId},
                errorFn: function(error){
                    alert('失败');
                },
                successFn: function(data){
                    console.log(data);
                    $self.find('.js_ding_text').text(data.dm[0].ding);
                }
            });

        }

        function handleCaiClick() {
            var $target = $(this);
            var articleId = $target.closest('.js_article').data('articleid');
            cai($target,articleId);
        }
        $("#articles").on('click','.js_cai',handleCaiClick);

        //踩的业务逻辑
        function cai($self,articleId) {
            comm.ajax.commAjax({
                url: '/cai',
                type: 'post',
                data: {id: articleId},
                errorFn: function(error){
                    alert('失败');
                },
                successFn: function(data){
                    console.log(data);
                    $self.find('.js_cai_text').text(data.c[0].cai);
                }
            });
        }
    }
</script>
</body>
</html>